* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  height: 100vh;
  background-color: #04040e;
  font-family: "Montserrat", sans-serif;
  overflow-x:hidden;
}
.full-body{
  height: 100%;
  width: 100%;
  display:grid ;
  grid-template-columns: 100px auto;
  @media (max-width: 640px) {
    grid-template-columns:  auto;
  }
  .side-social {

    @media (max-width: 640px) {
      display: none;
    }
  }
  .right-panel {

    display: grid;
    grid-template-rows: 16vh 74vh 10vh;
    @media (max-width: 640px) {
        grid-template-rows:10vh auto auto;
      }

  }

}


.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none ;
  }
}
