.side-social {

  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint-down(small) {
  display: none;
  }

  &-bar {
    height: 60vh;
    width: 100%;
   display: flex;
   justify-content: center;

    span {
        display: block;
        height: 100%;
        width: 4px;
        background-color: #64ffda;
        
    }
  }
  &-images{
      height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
      &-img {
        
        svg {
            width: 30px;
            cursor: pointer;
            transition: all 200ms ease-in-out;
        }
        svg:hover{
        >path{
            fill: #64ffda;
        }
        > g path{
            fill: #64ffda;
        }
        }
      }
  }
}
