* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background-color: #04040e;
  font-family: 'Montserrat', sans-serif;
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}
